@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Outfit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}



body{
    background-image: url(fundo.png);
    background-size: cover;
   


}

.desenvolvedor{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.davi-bandeira{

   
    text-align: center;
    color: #FFFFFF;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 120px;
    font-style: normal;
 
}

.web-desktop{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color:#FFFFFF; 
}
.projeto-no-github{
    
    margin-top: 55px;
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

.camada-escura{
    background: rgba(0,0,0,0.5);
    height: 100vh
}
.textos{
    margin-top: 265px;
}

.t1{
    width: 429px;
    height: 280px;
}
.t2{
    width: 429px;
    height: 280px;
}
.t3{
    width: 429px;
    height: 280px;
}